{% extends "base.html" %}

{% block content %}
<main class="no-main">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="ps-breadcrumb__list">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="active"><a href="shop.html">Shop</a></li>
                <li><a href="javascript:void(0);">Wishlist</a></li>
            </ul>
        </div>
    </div>
    <section class="section--wishlist">
        <div class="container">
            <h2 class="page__title">Wishlist</h2>
            <div class="wishlist__content">
                <div class="wishlist__product">
                    <div class="wishlist__product--mobile">
                        <div class="row m-0">
                            <div class="col-6 col-md-4 p-0">
                                <div class="ps-product--standard"><a class="ps-product__trash"
                                                                     href="javascript:void(0);"><i
                                        class="icon-trash2"></i></a><a href="product-default.html"><img
                                        class="ps-product__thumbnail" src="img/products/01-Fresh/01_18a.jpg" alt="alt"/></a>
                                    <div class="ps-product__content">
                                        <p class="ps-product__instock">In stock</p><a href="product-default.html">
                                        <h5 class="ps-product__name">Extreme Budweiser Light Can</h5>
                                    </a>
                                        <p class="ps-product__unit">500g</p>
                                        <p class="ps-product__meta"><span class="ps-product__price">$3.90</span></p>
                                    </div>
                                    <div class="ps-product__footer">
                                        <button class="ps-product__addcart">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wishlist__product--desktop">
                        <table class="table">
                            <thead class="wishlist__thead">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Stock Status</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="wishlist__tbody">
                            {% for item in user.wishlists.all %}
                            <tr>
                                <td>
                                    <div class="wishlist__trash">
                                        <a href="">
                                            <i class="icon-trash2"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="ps-product--vertical"><a href="product-default.html"><img
                                            class="ps-product__thumbnail" src="{{ item.product.main_image.url }}"
                                            alt="alt"/></a>
                                        <div class="ps-product__content">
                                            <h5><a class="ps-product__name" href="product-default.html">
                                                {{ item.product.name }}
                                            </a></h5>
                                            <p class="ps-product__unit">{{ item.product.amount }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="ps-product__price">${{ item.product.price }}</span>
                                </td>
                                <td>
                                    {% if item.product.stock != 0 %}
                                        <span class="ps-product__instock">In stock</span>
                                    {% else %}
                                        <span class="ps-product__ofstock">Out of stock</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn wishlist__btn add-cart"><i class="icon-cart"></i>Add to cart
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="wishlist__share">
                    <p>Share on: <a class="icon_social facebook" href="#"><i class="fa fa-facebook-f"></i></a><a
                            class="icon_social twitter" href="#"><i class="fa fa-twitter"></i></a><a
                            class="icon_social google" href="#"><i class="fa fa-google-plus"></i></a><a
                            class="icon_social pinterest" href="#"><i class="fa fa-pinterest-p"></i></a><a
                            class="icon_social wifi" href="#"><i class="fa fa-wifi"></i></a></p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}